#block {
	width: 100px;
	height: 100px;
	position: absolute;
	background: red;
}
.flexbox {
	position:absolute;
	display: flex;
	flex-direction: column;
	align-items: column;
}
.flexbox div {
	transform-origin: 0 100%;
	width: 200px;
	height:100px;
	background:linear-gradient(rgba(0,0,0,0) 0 30%, gray 30% 70%, rgba(0,0,0,0) 70% 100%);
/*	border-top: 2px solid black;
	border-bottom: 2px solid black;
*/}